[submodule "Code/RN52"]
	path = Code/RN52
	url = https://github.com/ConchuOD/RN52_HardwareSerial
[submodule "Code/ILI9341_t3"]
	path = Code/ILI9341_t3
	url = https://github.com/PaulStoffregen/ILI9341_t3
[submodule "Hardware/RN52_BOB"]
	path = Hardware/RN52_BOB
	url = https://github.com/ConchuOD/RN52_BOB
[submodule "Code/cores"]
	path = Code/cores
	url = https://github.com/PaulStoffregen/cores
[submodule "Code/Adafruit_STMPE610"]

	path = Code/Adafruit_STMPE610
	
	url = https://github.com/adafruit/Adafruit_STMPE610
